@import "_variables.scss";

html,
body{
    padding: 0;
    margin: 0;

    font-family: sans-serif;
}

.tasks{
    display: grid;
    grid-template-columns: 1fr 2fr;

    .texttasks,
    .answers{
        @extend %main_subtask;

        h3{
            border-bottom: 1px solid black;
        }
    }

    li{
        margin-bottom: 10px;
    }

    .answers{
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .task-hidden{
        display: none;
    }

    nav{
        margin: 10px 0;
    }
}

textarea{
    margin: 10px 0;
}